[user]
	name = Jaakko Luttinen
	email = jaakko.luttinen@iki.fi
	signingKey = jaakko.luttinen@iki.fi
[commit]
	gpgsign = true
[tag]
	sign = true
[push]
	default = matching
	followTags = true
[color]
	status = auto
	branch = auto
[core]
	editor = vim
[merge]
	tool = kdiff3
	conflictstyle = diff3
[mergetool "kdiff3"]
	cmd = kdiff3 $BASE $LOCAL $REMOTE -o $MERGED
	trustExitCode = False
[status]
	showUntrackedFiles = all
[github]
	user = jluttine
[gpg]
	program = gpg2
[credential]
	helper = /run/current-system/sw/bin/git-credential-libsecret
[pull]
	rebase = true
[safe]
	directory = /etc/nixpkgs
