[Desktop Entry]
Categories=Network;InstantMessaging;Chat
Comment=A feature-rich client for Matrix.org
Exec=element-desktop --hidden %u
GenericName=Matrix Client
Icon=element
MimeType=x-scheme-handler/element
Name=Element
StartupWMClass=element
Type=Application
Version=1.4
