[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=.qtox-wrapped -p "jluttine"
GenericName[en_GB]=
GenericName=
MimeType=
Name[en_GB]=qTox
Name=qTox
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
